{# templates/admin/formation_edit.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Modifier la formation : <strong>{{ formation.title }}</strong></h1>

    <div class="card shadow p-4">
        {% include "admin/formation_form.html.twig" %}
    </div>
</div>
{% endblock %}
